
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #DADADA;
  color: #333;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 15px;
  background-color: #DADADA;
  border-bottom: 1px solid #ddd;
  position: sticky; 
  top: 0;
  z-index: 1000;
}

.header h1 {
  flex-grow: 1; 
  text-align: left; 
  margin: 0; 
}

.back-button {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin-right: 20px;
}

.settings-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}



.menu-item::after {
  content: '>'; 
  font-size: 16px;
  color: #888;
  margin-left: auto;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.menu-item:last-child {
  margin-bottom: 0;
}

.profile-section {
  text-align: center;
  padding: 20px;
  background-color: #DADADA;
  margin-bottom: 15px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-section h2 {
  margin: 10px 0 0;
  font-size: 20px;
  font-weight: bold;
}

.menu {
  background-color: #DADADA;
  padding: 15px;
  border-radius: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px; 
  border: 1px solid #eee; 
  text-decoration: none;
  color: #333;
  font-size: 10px;
  border-radius: 6px; 
  background-color: #fff;
}

.menu-item img {
  margin-right: 10px;
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item:hover {
  background-color: #f0f0f0;
}


footer {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: #f5f5f5; 
  padding: 10px 0;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; 
}


footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #0F5D98;
  font-size: 12px;
}

footer a img, footer a svg {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.footer-item {
  font-size: 16px;
  fill: #719DBE;
  margin-bottom: 5px;
  flex-direction: column; 
  align-items: center;
}


@media (min-width: 768px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }

  .profile-pic {
    width: 120px;
    height: 120px;
  }

  .profile-section h2 {
    font-size: 24px;
  }

  .menu-item {
    font-size: 16px;
  }
  footer {
    padding: 15px 0;
  }

  footer a {
    font-size: 10px; 
  }

  footer a img, footer a svg {
    width: 25px;
    height: 25px; 
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 800px;
  }

  .profile-section {
    padding: 40px;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
  }

  .menu-item {
    font-size: 18px;
  }
}


@media (max-width: 480px) {
  footer a {
    font-size: 9px; 
  }

  footer a img, footer a svg {
    width: 20px;
    height: 20px; 
  }
}


